<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Hi, I'm Nathan.<br /><br /> I enjoy all things computer science!</h1>
        <p>MY COLLECTION OF PROJECTS, SKILLS AND INTERESTS</p>
      </header>
      <p>Here you'll find some things that keep me busy.</p>  <!-- TODO write a blurb parargraph about the larger purpose of the site-->
      <ul class="actions">
        <li><a href="#" class="button big">Learn More</a></li>
      </ul>
    </div>
    <span class="image object">
      <img src="assets/images/profile_4x3.JPG" alt="" />  <!-- TODO better profile picture-->
    </span>
  </section>
