<!-- required include variables:
        project_title
        filename
        ext
        --> 

<article>
    <a href="{{'/portfolio/' |  absolute_url }}{{ include.filename }}.html" class="image"><img src="{{'assets/images/'}}{{ include.filename }}{{include.ext}}" alt="" /></a>
    <h3>{{ include.project_title }}</h3>
    <p>{{ include.project_blurb }}</p>
    <ul class="actions">
        <li><a href="{{'/portfolio/'' |  absolute_url }}{{ include.filename }}.html" class="button small">More</a></li>
    </ul>
</article>