<!DOCTYPE HTML>
<html>

{% include head.html %}

<body>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">

                {% include header.html %}

                <!-- Content -->
                {% if page.image %}
                <section>                 
                    <span class="image main"><img src="{{ page.image | absolute_url }}" alt="" /></span>
                </section>  
                {% endif %}
                {{ content }}

            </div>
        </div>

        {% include sidebar.html %}

    </div>

    {% include footer.html %}

</body>

</html>