---
layout: default
---
<!-- Content -->
<section>
  <header class="major">
    <h2>{{ page.title }}</h2>
  </header>
  <!-- Skill image -->
  <article>
    <a href="{{ skill.attribution_url }}"><span class="image fit"><img src="{{ '/skills/assets/icons/' | absolute_url }}{{ page.filename }}{{ '.svg' }}" alt="" /></span></a>
    <div class="content">    
        <h3>{{ skill.title }}</h3>
        <p>{{ skill.blurb }}</p>
    </div>
    <header class="major">
      <h2>| {{ page.title }} projects</h2>
    </header>
    <!-- Selection of projects which feature this skill. _projects collection is looped over. If a project includes, an article _include is called with scope of .project variables(passed from the project). --> 
    <div class="posts">
      <!-- TODO update blubs-->
      {% for project in site.projects %}  {% comment %} loop over _projects collection {% endcomment %}
        {% if project contains skill.filename %}  {% comment %} check for this skill {% endcomment %}
          {% include skill.html %}  {% comment %} pass _project variables are passed to skill.html and generate {% endcomment %}
        {% endif %}
      {% endfor %}
    </div>
    <div>
      <article>
        <a href="#" class="button">All Projects</a>
      </article>
    </section>