---
layout: default
---
<!-- skill-->
<section>
  <div class="features">
    <article>
      <a href="{{ page.attribution_url }}"><span class="image fit"><img src="{{ '/skills/assets/icons/' | absolute_url }}{{ page.filename }}{{ '.svg' }}" alt="" /></span></a>
      <div class="content">    
          <h2>{{ page.title }}</h2>
          <p>{{ page.blurb }}</p>
      </div>
    </article>
  </div>
</section>
<!-- featured projects -->
<section>
  <header class="major">
		<h2>Featured projects</h2>
	</header>
  <div class="posts">
    <!-- TODO update blubs-->
    {% for project in site.projects %}  {% comment %} loop over _projects collection {% endcomment %}
      {% if project.skills contains page.filename %}  {% comment %} check for this skill {% endcomment %}
        {% include article.html %}  {% comment %} pass _project variables are passed to article.html and generate {% endcomment %}
      {% endif %}
    {% endfor %}
  </div>
  <div>
    <article>
      <a href="#" class="button">All Projects</a>
    </article>
  </div>
</section>